.navButton {
  background-color: transparent;
  border: none;
  color: #666666;
  font-family: Montserrat, Poppins;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  height: 100%;
  width: 13rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1020px) {
  .navButton {
    width: 6rem;
  }
}

@media (max-width: 493px) {
  .navButton {
    width: 5rem;
    font-size: 0.8rem;
    padding: auto;
  }
}

@media (max-width: 390px) {
  .navButton {
    width: 4rem;
    font-size: 0.7rem;
    padding: auto;
  }
}

.navButton:hover {
  background-color: #8ca6db;
  color: #fff;
}

.active {
  background-color: #557aab;
  color: #fff;
  font-weight: bold;
}